/*
body{
    background:url("../images/background.png");
    background-repeat: repeat-x;
    background-position: top;
}
*/

.cnp_aside_logo{
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: 30;
    right: 120px;
    bottom: 10px;
    -webkit-user-select: none;
    background-image: url("../images/logo_cnp_ti.png");
    background-size:100%;
    background-repeat: no-repeat;
}

.reveal pre{
    width: 100%;
}

.reveal img.img-inline{
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

.reveal img.img-inline-big{
    width: 128px;
    height: 128px;
    vertical-align: bottom;
}

.resize_image{
    width: 367px;
    height: 289px;
}

.resize_image_1{
    width: 420px;
    height: 340px;
}

.resize_image_2{
    width: 350px;
    height: 350px;
}
